.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  font-size: 1.4rem;

}

.linkFooter {
  color: var(--text-muted);
  text-decoration: none;

}

.linkFooter:hover {
  text-decoration: underline;
}