.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 24rem;

  padding: 0.8rem;



  border: none;
  border-radius: 1rem;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.green:hover {
  background-color: var(--primary-light);
  filter: brightness(80%);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}

.red:hover {
  background-color: var(--error);
  filter: brightness(80%);
}